* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

html {
  font-size: 62.5%;
}

li {
  margin-bottom: 1rem;
  cursor: pointer;
}

.heading_1 {
  font-size: 8.5vw;
  font-weight: bold;
  margin-bottom: 2rem;
}

.heading_2 {
  font-size: 8vw;
  font-weight: bold;
  margin-bottom: 3rem;
}

.para {
  width: 85vw;
  margin-bottom: 3rem;
}

.homeSection {
  background-color: #ff856e;
  border-bottom-left-radius: 10rem;
  margin-bottom: 5rem;
}

.main {
  background: url(./images/bg-pattern-intro.svg);
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 38%;
  background-size: 330%;
  border-bottom-left-radius: 10rem;
}

.navbar-brand {
  font-size: 13vw;
  font-weight: bold;
  color: white !important;
}

.navbar > .container-fluid {
  margin: 0 2.5rem;
}

.burgerIcon {
  background: url("./images/menu.svg");
  width: 13vw;
  height: 7vh;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.closeIcon {
  background: url("./images/close.svg");
  width: 9vw;
  height: 7vh;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.navUl {
  background-color: white;
  width: 80%;
  text-align: center;
  position: fixed;
  top: 15%;
  right: -80%;
  -webkit-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
  border-radius: 1.6rem;
  padding: 1.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.48);
          box-shadow: 2px 2px 17px 2px rgba(0, 0, 0, 0.48);
}

.navUl li {
  width: 100%;
}

.navUl a {
  font-weight: 600;
  font-size: 2.5rem;
  color: black;
}

.navUl .btn {
  font-size: 2.5rem;
  font-weight: bold;
  padding: 1rem 4rem;
  margin: auto;
  margin-bottom: 9px;
  color: #ff555d;
  border-radius: 5rem;
}

.navUl div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.open {
  right: calc((100% - 80%) / 2);
}

.arrow::after {
  content: url(./images/icon-arrow-dark.svg);
  display: inline-block;
  margin-left: 5px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.productList,
.companyList,
.connectList {
  display: none;
  background-color: #efefef;
  padding: 2rem;
  border-radius: 1.6rem;
}

.productList li a:hover,
.companyList li a:hover,
.connectList li a:hover {
  color: #ff555d;
}

.displayDropdown {
  display: block;
}

.rotate::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cngColor {
  color: #868383 !important;
}

.signUp {
  border: 1px solid;
  margin-top: 2rem;
}

.signUp:hover,
.strtFreeBtn:hover {
  color: white !important;
  background-color: #ff555d !important;
}

.homeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  color: white;
  padding: 15vh 0 13vh 0;
}

.context p {
  font-size: 5.5vw;
  width: 75%;
  margin: auto;
}

.btns .btn {
  font-size: 5vw;
  color: white;
  font-weight: 600;
  border: 1px solid;
  border-radius: 5rem;
  margin: 0.5em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.btns .strtFreeBtn {
  color: #ff555d;
  background-color: white;
}

.section_2 p,
.section_3 p,
.section_4 p {
  font-size: 5vw;
}

.section_2 .row,
.section_3 .row,
.section_4 .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec_2_img {
  width: 100%;
  height: 65vw;
  background: url("./images/illustration-editor-mobile.svg") center/65vw no-repeat;
}

.sec_2_para,
.sec_4_para {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.sec_container {
  width: 100%;
  height: 100%;
  background: url("./images/illustration-phones.svg") center/100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  background-position-y: 0;
  background-size: 47vh;
}

.sec_3_para {
  width: 100%;
  height: 100vh;
  background: url("./images/bg-pattern-circles.svg") center/100vh no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  height: auto;
  color: white;
  background-position-y: -50vh;
  background-color: #2c2d3f;
  border-top-right-radius: 9rem;
  border-bottom-left-radius: 9rem;
  z-index: -1;
  padding: 30vh 0 5vh 0;
  margin-top: 25vh;
}

.sec_4_img {
  width: 100%;
  height: 85vw;
  background: url("./images/illustration-laptop-mobile.svg") center/85vw no-repeat;
}

.footer {
  background-color: #25252d;
  border-top-right-radius: 9rem;
  padding-top: 5rem;
  text-align: center;
}

.footer h1,
.footer h2 {
  color: white;
  font-weight: bold;
}

.footer h1 {
  font-size: 12vw;
}

.footer h2 {
  font-size: 8vw;
  margin-bottom: 1.5rem;
}

.footer li {
  list-style: none;
}

.footer a {
  font-size: 6vw;
  text-decoration: none;
  color: #c8c8cb;
}

@media (min-width: 576px) {
  .homeSection,
  .main {
    border-bottom-left-radius: 15rem;
  }
  .navbar-brand {
    font-size: 10vw;
  }
  .burgerIcon {
    background: url("./images/menu.svg");
    width: 9vw;
    height: 7vh;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .closeIcon {
    background: url("./images/close.svg");
    width: 7vw;
    height: 7vh;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .navUl {
    width: 60%;
    border-radius: 2rem;
    padding: 2.5rem;
  }
  .navUl li a,
  .navUl .btn {
    font-size: 6vw;
  }
  .open {
    right: calc((100% - 60%) / 2);
  }
  .sec_container {
    background-size: 65vh;
  }
  .sec_3_para {
    background-size: 135vh;
    height: 100%;
    padding-top: 35vh;
    margin-top: 35vh;
  }
}

@media (min-width: 768px) {
  .heading_1 {
    font-size: 9.5vw;
  }
  .heading_2 {
    font-size: 9vw;
  }
  .homeSection {
    margin-bottom: 10rem;
  }
  .homeSection,
  .main {
    border-bottom-left-radius: 19rem;
  }
  .navbar-brand {
    font-size: 11vw;
  }
  .container {
    height: 80%;
  }
  .burgerIcon {
    background: url("./images/menu.svg");
    width: 11vw;
    height: 9vh;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .closeIcon {
    background: url("./images/close.svg");
    width: 8vw;
    height: 7vh;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  .navUl {
    border-radius: 3rem;
    padding: 2.5rem;
  }
  .navUl li a,
  .navUl .btn,
  .navUl .context p {
    font-size: 6.5vw;
  }
  .para {
    margin-bottom: 5rem;
  }
}

@media (min-width: 992px) {
  .heading_1,
  .navbar-brand {
    font-size: 7.5vw;
  }
  .heading_2 {
    font-size: 6.5vw;
  }
  .navUl {
    width: 80%;
    position: absolute;
    right: 0;
    top: 20px;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 2.5rem 2rem;
  }
  .navUl li {
    width: 35%;
  }
  .navUl li a {
    font-size: 3vw;
    color: white;
  }
  .navUl .btn {
    font-size: 2vw;
    padding: 0.5em 1em;
    margin-bottom: 0;
  }
  .navUl div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  li {
    margin-bottom: 0;
  }
  .icon {
    display: none;
  }
  .arrow::after {
    content: url(./images/icon-arrow-light.svg);
  }
  .nav-item ul {
    position: absolute;
    top: 80px;
  }
  .cngColor {
    color: white !important;
  }
  .logIn {
    color: white !important;
  }
  .logIn:hover {
    color: #eae7e7 !important;
  }
  .signUp {
    background-color: white;
    border-color: white;
  }
  .btns .btn {
    font-size: 4rem;
  }
  .context p {
    font-size: 5vw;
  }
  .productList a,
  .companyList a,
  .connectList a {
    color: black !important;
  }
  .section_2,
  .section_3,
  .section_4 {
    margin-bottom: 5rem;
  }
  .section_2 p,
  .section_3 p,
  .section_4 p {
    font-size: 3.5vw;
  }
  .footer .container {
    margin: auto;
  }
  .footer .row {
    width: 90vw;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer h1 {
    font-size: 8vw;
  }
  .footer h2 {
    font-size: 5vw;
  }
  .footer a {
    font-size: 3vw;
  }
}

@media (min-width: 1200px) {
  .heading_1,
  .navbar-brand {
    font-size: 4vw;
  }
  .navbar,
  .homeContainer {
    margin: 0 14vw;
  }
  .navUl {
    padding: 0;
    top: 1.5vw;
  }
  .navUl li {
    width: 25%;
  }
  .navUl li a,
  .navUl .btn {
    font-size: 1.8vw;
  }
  .nav-item ul {
    top: 5vw;
  }
  .homeContainer .context p {
    font-size: 2.5vw;
  }
  .homeContainer .btn {
    font-size: 1.9vw;
  }
}
/*# sourceMappingURL=style.css.map */